@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background: #282C33;
  color: #ABB2BF;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
body.hide {
  overflow-y: hidden;
}

main {
  flex: 1;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .container {
    padding: 0 10px;
  }
}

.inner-text {
  line-height: 25px;
}

.inner-link {
  border: 1px solid #C778DD;
  padding: 8px 0;
  color: #fff;
  font-weight: 500;
  display: block;
}

.inner-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.inner-title::before {
  content: "#";
  color: #C778DD;
}
.inner-title::after {
  content: "";
  background: #C778DD;
  margin-left: 16px;
}

.social {
  width: 32px;
  height: 311px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  z-index: 1;
  left: 17px;
}
.social::before {
  content: "";
  height: 190px;
  width: 1px;
  background: #ABB2BF;
}
.social-link {
  width: 32px;
  height: 32px;
}
.social-link svg {
  fill: #ABB2BF;
  transition: 0.2s ease;
}
.social-link:hover svg {
  fill: #fff;
}
@media (max-width: 1150px) {
  .social {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 75px;
    gap: 20px;
  }
  .social-link {
    width: 64px;
    height: 64px;
  }
  .social svg {
    width: 64px;
    height: 64px;
  }
  .social::before {
    display: none;
  }
}

.btn-up {
  position: fixed;
  z-index: 4;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: url(../img/arrow-up-long-solid.svg) no-repeat center;
  background-size: 20px;
  display: none;
}

.header {
  height: 100px;
}
.header-fixed {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 0 8px;
  background: #282C33;
}
.header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .header-wrapper {
    align-items: center;
  }
}
@media (max-width: 450px) {
  .header-wrapper {
    padding: 15px 0 8px;
  }
}
.header-logo {
  display: block;
  width: 72px;
  color: #fff;
  background: url(../img/logo.svg) no-repeat left center;
  padding-left: 24px;
  background-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 21px;
}
.header .nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
}
@media (max-width: 1150px) {
  .header .nav {
    position: absolute;
    z-index: 2;
    background: #282C33;
    top: -100%;
    right: 0;
    bottom: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: 0.5s linear;
  }
  .header .nav.active {
    bottom: 0;
    height: 110vh;
    top: 0;
  }
}
.header .menu {
  display: flex;
  gap: 32px;
}
@media (max-width: 1150px) {
  .header .menu {
    flex-direction: column;
    align-items: center;
  }
}
.header .link {
  line-height: 21px;
  display: flex;
  transition: 0.3s linear;
}
.header .link::before {
  content: "#";
  color: #C778DD;
}
.header .link.active, .header .link:hover {
  color: #fff;
}
.header .drop-lang {
  display: none;
}
.header .switch-lang {
  width: 37px;
  position: relative;
  background: url(../img/lang-switch.svg) no-repeat right center;
  cursor: pointer;
  padding: 5px;
}
.header .switch-lang:hover .drop-lang {
  display: block;
  position: absolute;
  top: 22px;
}
.header .burger {
  display: none;
}
@media (max-width: 1150px) {
  .header .burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 60px;
    height: 60px;
    background: url(../img/burger.svg) no-repeat center;
    transition: 0.3s ease;
  }
  .header .burger.active {
    background: url(../img/close.svg) no-repeat center;
  }
}
@media (max-width: 450px) {
  .header .burger {
    width: 40px;
    height: 40px;
  }
}

.hero {
  padding: 62px 0 112px 0;
}
.hero-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-content {
  max-width: 537px;
  width: 100%;
}
.hero-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 32px 0;
}
.hero-title span {
  color: #C778DD;
}
.hero-link {
  width: 148px;
  text-align: center;
  margin-top: 24px;
}
.hero-img {
  max-width: 457px;
  width: 100%;
}
.hero-img figcuption {
  max-width: 402px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px 10px 10px 34px;
  background: url(../img/hero-reg.svg) no-repeat left 8px center;
  border: 1px solid #ABB2BF;
}
.hero-img figcuption span {
  color: #fff;
  font-weight: 500;
}

.quote {
  max-width: 712px;
  width: 100%;
  margin: 0 auto;
}
.quote-wrapper {
  position: relative;
}
.quote-wrapper::after {
  content: "";
  width: 91px;
  height: 91px;
  position: absolute;
  right: 0;
  top: 14px;
  border: 1px solid #abb2bf;
}
@media (max-width: 1050px) {
  .quote-wrapper::after {
    content: none;
  }
}
.quote span {
  display: block;
  width: 162px;
  padding: 16px;
  margin-left: auto;
  border-right: 1px solid #ABB2BF;
  border-left: 1px solid #ABB2BF;
  border-bottom: 1px solid #ABB2BF;
  font-size: 23px;
}
.quote-text {
  padding: 32px;
  color: #fff;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
  border: 1px solid #ABB2BF;
  position: relative;
}
.quote-text::before {
  content: "";
  width: 26px;
  height: 21px;
  background: #282C33 url(../img/quote.svg) no-repeat center;
  position: absolute;
  left: 11px;
  top: -11px;
}
.quote-text::after {
  content: "";
  width: 26px;
  height: 21px;
  background: #282C33 url(../img/quote.svg) no-repeat center;
  position: absolute;
  right: 11px;
  bottom: -11px;
}

.project {
  position: relative;
}
.project::after {
  content: "";
  width: 44px;
  height: 84px;
  position: absolute;
  left: 0px;
  top: 50%;
  background: url(../img/points-project.svg) no-repeat center;
}
@media (max-width: 1140px) {
  .project::after {
    content: none;
  }
}
.project::before {
  content: "";
  width: 68px;
  height: 155px;
  position: absolute;
  right: 0;
  bottom: 80px;
  border: 1px solid;
}
@media (max-width: 1200px) {
  .project::before {
    content: none;
  }
}
.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 74px 0 48px 0;
}
.project-title {
  margin: 0;
  flex: 1;
}
.project-title::after {
  max-width: 511px;
  width: 100%;
  height: 1px;
}
.project-link {
  color: #fff;
  padding-left: 16px;
}
.project-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.project .gallery-block {
  border: #ABB2BF 1px solid;
  width: 330px;
}
.project .gallery-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid;
  padding: 8px;
}
.project .gallery-title {
  display: flex;
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.project .gallery-subtitle {
  padding: 0 16px 0 16px;
}
.project .gallery-block-link {
  display: flex;
  padding: 16px;
  gap: 16px;
}
.project .inner-link {
  padding: 8px 16px;
}
.project .gallery-link {
  color: #ABB2BF;
  border: 1px solid #ABB2BF;
}

.skills {
  padding: 109px 0;
}
.skills-top {
  margin-bottom: 12px;
}
.skills-img {
  display: block;
  max-width: 350px;
  width: 100%;
}
.skills-title {
  margin: 0;
}
.skills-title::after {
  max-width: 240px;
  width: 100%;
  height: 1px;
}
.skills-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 980px) {
  .skills-wrapper {
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
  }
}
.skills-education {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 43px;
}
@media (max-width: 980px) {
  .skills-education {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 590px) {
  .skills-education {
    -moz-column-count: 1;
         column-count: 1;
    display: block;
  }
}
.skills-block {
  width: 181px;
  border: 1px solid #ABB2BF;
  margin-bottom: 16px;
}
.skills-block-container {
  height: 100%;
}
@media (max-width: 980px) {
  .skills-block-container {
    height: auto;
  }
}
@media (max-width: 590px) {
  .skills-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.skills-block-title {
  display: block;
  border-bottom: 1px solid #ABB2BF;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.skills-tegs {
  padding: 8px;
  line-height: 24px;
}

.about {
  padding: 109px 0 112px;
  position: relative;
}
.about::before {
  content: "";
  width: 75px;
  height: 155px;
  position: absolute;
  left: 0;
  top: 50%;
  border: 1px solid;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .about::before {
    display: none;
  }
}
.about::after {
  content: "";
  width: 103px;
  height: 103px;
  position: absolute;
  right: 0px;
  bottom: 80px;
  background: url(../img/points-about.svg) no-repeat center;
}
.about-title::after {
  max-width: 326px;
  width: 100%;
  height: 1px;
}
@media (max-width: 590px) {
  .about-title::after {
    max-width: 240px;
  }
}
@media (max-width: 450px) {
  .about-title::after {
    max-width: 45%;
  }
}
@media (max-width: 390px) {
  .about-title::after {
    max-width: 35%;
  }
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 980px) {
  .about-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.about-content {
  max-width: 516px;
  width: 100%;
}
.about-img {
  width: 340px;
}
.about-text {
  margin-bottom: 27px;
  margin-top: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.about-link {
  width: 148px;
  text-align: center;
}

.contacts {
  padding-bottom: 145px;
}
@media (max-width: 450px) {
  .contacts {
    padding-bottom: 50px;
  }
}
.contacts-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .contacts-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.contacts-title::after {
  width: 127px;
  height: 1px;
}
.contacts-text {
  max-width: 505px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.contacts-block {
  padding: 16px;
  width: 205px;
  border: 1px solid;
}
.contacts-tags li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}
.contacts-tags li:first-child {
  margin-bottom: 10px;
}
.contacts-tags li svg {
  width: 32px;
  height: 32px;
  fill: #ABB2BF;
  transition: 0.2s ease;
}
.contacts-tags li:hover svg {
  fill: #fff;
}
.contacts-block-title {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.project-page {
  position: relative;
}
.project-page-top {
  margin: 53px 0 68px;
}
.project-page-title {
  position: relative;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.project-page-title span {
  display: block;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
}
.project-page-title::before {
  content: "/";
  color: #C778DD;
}
.project-page::after {
  content: "";
  width: 44px;
  height: 84px;
  position: absolute;
  left: 0px;
  top: 50%;
  background: url(../img/points-project.svg) no-repeat center;
}
@media (max-width: 1140px) {
  .project-page::after {
    content: none;
  }
}
.project-page::before {
  content: "";
  width: 68px;
  height: 155px;
  position: absolute;
  right: 0;
  bottom: 80px;
  border: 1px solid;
}
@media (max-width: 1200px) {
  .project-page::before {
    content: none;
  }
}
.project-page-link {
  color: #fff;
  padding-left: 16px;
}
.project-page-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 81px;
}
@media (max-width: 1100px) {
  .project-page-wrapper {
    justify-content: center;
  }
}
.project-page .gallery-block {
  border: #ABB2BF 1px solid;
  width: 330px;
}
@media (max-width: 390px) {
  .project-page .gallery-block {
    width: 100%;
  }
}
.project-page .gallery-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid;
  padding: 8px;
}
.project-page .gallery-title {
  display: flex;
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.project-page .gallery-subtitle {
  padding: 0 14px 0 14px;
}
.project-page .gallery-block-link {
  display: flex;
  padding: 16px;
  gap: 16px;
}
.project-page .inner-link {
  padding: 8px 16px;
}
.project-page .gallery-link {
  color: #ABB2BF;
  border: 1px solid #ABB2BF;
}
.project-page .project-gallery-title {
  margin-bottom: 48px;
}

.small-projects-title {
  margin-bottom: 48px;
}
.small-projects-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 81px;
}
@media (max-width: 1100px) {
  .small-projects-gallery {
    justify-content: center;
  }
}
.small-projects .small-gallery-block {
  border: #ABB2BF 1px solid;
  width: 330px;
}
@media (max-width: 390px) {
  .small-projects .small-gallery-block {
    width: 100%;
  }
}
.small-projects .gallery-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid;
  padding: 8px;
}
.small-projects .gallery-title {
  display: flex;
  padding: 16px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.small-projects .gallery-subtitle {
  padding: 0 14px 0 14px;
  display: flex;
  line-height: 20px;
}
.small-projects .gallery-block-link {
  display: flex;
  padding: 16px;
  gap: 16px;
}
@media (max-width: 390px) {
  .small-projects .gallery-block-link {
    flex-direction: column;
    align-items: center;
  }
}
.small-projects .inner-link {
  padding: 8px 16px;
}
@media (max-width: 390px) {
  .small-projects .inner-link {
    width: 100%;
    text-align: center;
  }
}
.small-projects .gallery-link {
  color: #ABB2BF;
  border: 1px solid #ABB2BF;
}

.footer {
  border-top: 1px solid #ABB2BF;
  padding: 32px 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer-top {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.footer-list {
  display: flex;
  gap: 24px;
}
@media (max-width: 450px) {
  .footer-list {
    justify-content: center;
  }
}
.footer-logo {
  padding-left: 25px;
  background: url(../img/Logo-footer.svg) no-repeat left center;
  font-weight: 500;
  color: #fff;
}
.footer-text {
  margin-top: 16px;
  color: #fff;
}
@media (max-width: 450px) {
  .footer-text {
    text-align: center;
  }
}
.footer-media-title {
  display: block;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 12px;
}
.footer-media-social {
  display: flex;
  gap: 8px;
}
.footer-bottom {
  padding-top: 48px;
}
.footer .copyright {
  text-align: center;
}/*# sourceMappingURL=main.css.map */