.about-page{

    position: relative;

    &::before {
        content: "";
        width: 109px;
        height: 49px;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/points-about-page.svg) no-repeat center;

        @media(max-width:1200px){
            display: none;
        }


    }

    &::after {
        content: "";
        width: 155px;
        height: 155px;
        position: absolute;
        right: 0px;
        top: 80px;
        background: url(../img/Rectangle-about-page.svg) no-repeat center;
        
        
    }


    &-top{
        margin: 53px 0 8px;
    }

    &-wrapper{
        align-items: center;
    }

    &-title{
        position: relative;
        color: $color-secondary;
        font-size: 32px;
        font-weight: 600;
        
        span{
            display: block;
            margin-top: 14px;
            font-size: 16px;
            font-weight: 400;
        }

        &::before {
            content: "/";
            color: $color-violete;
        }
    }

}