.contacts-page {
    position: relative;
    padding-bottom: 84px;

    &::after {
        content: "";
        width: 75px;
        height: 155px;
        position: absolute;
        right: 0;
        top: 170px;
        border: 1px solid #abb2bf;

        @media(max-width:1200px) {
            display: none;
        }

        @media (max-width:1050px) {
            content: none;
        }
    }

    &::before {
        content: "";
        width: 109px;
        height: 49px;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/points-about-page.svg) no-repeat center;

        @media(max-width:1200px) {
            display: none;
        }
    }

    &-title {
        position: relative;
        color: #fff;
        font-size: 32px;
        font-weight: 600;

        &::before {
            content: "/";
            color: #c778dd;
        }

        span {
            display: block;
            display: block;
            margin-top: 14px;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &-top {
        margin-top: 53px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 46px 0 25px;
    }

    &-text {
        max-width: 505px;
        width: 100%;
        line-height: 26px;
    }

    &-content {
        display: flex;
        align-items: flex-start;
        gap: 11px;
    }

    &-block {
        border: 1px solid;
        padding: 16px;
        width: 210px;

        &:first-child {
            width: 186px;
        }

        span {
            color: $color-secondary;
            font-weight: 500;
        }
    }

    &-tags {
        li {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 400;

            svg {
                width: 32px;
                height: 32px;
                fill: $color-primary;
                transition: .2s ease;
            }

            &:hover {
                svg {
                    fill: $color-secondary;
                }
            }
        }
    }

    &-block-title--first {
        display: block;
        margin-bottom: 10px;
    }

    &-block-title--second {
        display: block;
        margin-bottom: 16px;
    }

    &-title--media {
        margin-bottom: 22px;

        &::before {
            content: "#";
            color: #c778dd;
        }

    }

    &-media-list {
        display: flex;
        gap: 22px;

        a {
            background: url(../img/Twitter.svg)no-repeat left center;
            line-height: 32px;
            display: block;
            width: 95px;
            text-align: right;
        }
    }

}