.quote {
    max-width: 712px;
    width: 100%;
    margin: 0 auto;

    &-wrapper{
        position: relative;
    

        &::after{
            content: "";
            width: 91px;
            height: 91px;
            position: absolute;
            right: 0;
            top: 14px;
            border:1px solid #abb2bf;

        @media (max-width:1050px) {
            content: none;
        }


        }
    }

    span {
        display: block;
        width: 162px;
        padding: 16px;
        margin-left: auto;
        border-right: 1px solid $color-primary;
        border-left: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        font-size: 23px;
    }

    &-text {
        padding: 32px;
        color: $color-secondary;
        font-size: 23px;
        text-align: center;
        font-weight: 500;
        border: 1px solid $color-primary;
        position: relative;


        &::before {
            content: "";
            width: 26px;
            height: 21px;
            background: $bg-dark url(../img/quote.svg) no-repeat center;
            position: absolute;
            left: 11px;
            top: -11px;
        }

        &::after {
            content: "";
            width: 26px;
            height: 21px;
            background: $bg-dark url(../img/quote.svg) no-repeat center;
            position: absolute;
            right: 11px;
            bottom: -11px;
        }
    
    }
}